.footer {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 0.9rem;
    font-variant-ligatures: 'smc';
    margin: 0 0.5rem;
}

.logo {
    height: 3.5rem;
    object-fit: contain;
}