.dataContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    @media screen and (max-width: 640px) {
        display: none;
    }
}

.infoContainer {
    margin: 1rem 0;
    width: 100%;
    .dataInfo {
        display: flex;
        justify-content: space-between;
        .dataUnit {
            font-size: 0.7rem;
            margin: 0rem 0.2rem;
        }
    }
}
