html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-image: url(https://180dc.org/wp-content/uploads/2016/04/bits-goa-campus.jpg);
    background-position: center;
}

.title-bar {
    justify-self: flex-start;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(34,31,31,0.75);
    backdrop-filter: blur(0.5rem);
    color: #E2E8F0;
    font-weight: 450;
    user-select: none;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.panel-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    cursor: pointer;
}

.button-minimise {
    padding: 0.25rem;
}

.button-minimise:hover {
    background-color: rgba(34,31,31,0.95);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(0.25rem);
    padding: 1.5rem 0.5rem;
    border-radius: 0.25rem;
    border: solid 1px black;
	background-color: rgba(34,31,31,0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E2E8F0;
}

.logo {
    height: 20vw;
    width: 80vw;
    margin: 1rem 0.5rem;
}

.textbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0.5rem 1rem;
}

.textbox-label {
    margin: 0.25rem 0.5rem;
    font-size: 0.95rem;
}

.textbox-input {
    color: #E2E8F0;
    margin: 0.25rem 1rem;
    /* background-color: #A0AEC0; */
    background-color: transparent;
    padding: 0.5rem;
    border: solid 3px #2B6CB0;
    border-radius: 0.25rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}

.save-button {
    padding: 0.75rem 1.5rem;
    align-self: flex-end;
    background-color: #38A169;
    margin: 1rem;
    color: #E2E8F0;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
}

.save-button:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.creds-saved {
    color: #CBD5E0;
    background-color: #2F855A;
    padding: 0.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
    max-height: auto;
    transition: all linear 0.5s;
}

.hide {
    max-height: 0;
    padding: 0 0.5rem;
    transition: all linear 0.5s;
}

.checkbox-container {
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin: 0.25rem 1rem;
}

.checkbox {
    margin: 0.5rem;
}